
footer{
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 50px;
}
.btn-danger {
    margin-right: 10px;
}

main{
    margin: 50px;
}
.liens {
    text-align: center;
}
#btn_add{
    margin-bottom: 5px;
}

.accordion {
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.panel {
    margin-top: 5px;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}